[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit https://cobocards.s3.amazonaws.com/card/480_300/1/1w35t0114_2.jpg
Type=Link
URL=https://cobocards.s3.amazonaws.com/card/480_300/1/1w35t0114_2.jpg
Icon=image-jpeg
